
body {
    background: #29889900 url("image/20211007_090716.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 17px;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
 
  body::before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgba(161, 141, 132, 0.199);
    width: 100%;
    height: 100%;
  }
  /****** img fltng dsgn **********/
  
    
  .imggg {
    width: 279px;
    height: 279px;
    margin-left: 24%;
    margin-top: 42px;
  }
  .avatar {
    margin-left: 14%;
    width: 279px;
   height: 279px;
   transform: translatey(0px);
   -webkit-animation: float 6s ease-in-out infinite;
           animation: float 6s ease-in-out infinite;
  }
  
  @-webkit-keyframes float {
   0% {
     transform: translatey(0px);
   }
   50% {
     transform: translatey(-20px);
   }
   100% {
     transform: translatey(0px);
   }
  }
  
  @keyframes float {
   0% {
     transform: translatey(0px);
   }
   50% {
     transform: translatey(-20px);
   }
   100% {
     transform: translatey(0px);
   }
  }
  /****** nav dsgn 
  
  nav {
    margin-left: 9%;
    margin-top: 109px;
    z-index: 999;
    border-radius: 5px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav ul li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
    text-align: center;
    border-radius: 50px;
  }
  
  #active {
    background: #1d410fe1;
    width: 49px;
    padding: 15px 0;
  }
  nav ul li:last-child {
    margin: 0px;
  }
  nav ul li a {
    display: block;
    background: #1c5c2fd5;
    padding: 15px 18px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: 0.7s linear;
  }
  nav ul li a:hover {
    background: #234b13e1;
    border-bottom: 0px solid rgb(255, 255, 255);
    color: white;
  }
  nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 170px;
    border-bottom: 2px solid #18582bcb;
  }
  nav ul li ul li {
    display: block;
    width: 100%;
    margin: 0;
    text-align: left;
    font-family: cursive;
  }
  nav ul li ul li a {
    display: block;
    background: #234b139f;
    padding: 10px 15px;
  }
  nav ul li ul li a:first-child {
    background: #234b13d8;
    width: auto;
    border-left: 3px solid transparent;
    padding: 10px 15px;
    font-size: 14px;
  }
  nav ul li ul li a:hover {
    background: #16300b;
    border-left: 3px solid wheat;
  } *********/
  
  /***** lptp nrml *******/
  @media (max-width: 1440px) {
    #mySidenav a {
      display: none;
    }
  }
  
   /**** lptp mini ***********/
   @media (max-width: 1024px), (max-width: 1200px) {
    
    .imggg {
      margin-left: 17%;
    }
    
     nav {
           margin-left: 2%;
           margin-top: 109px;
           z-index: 999;
    }
   .sss .social {
     margin-left: 32%;
   }
   }
  
   @media (max-width: 992px) {
    nav {
      display: none;
   }
   #mySidenav a {
    display: block;
  }
  
    .sss .social {
      margin-top: 3.5cm;
      margin-bottom: 1cm;
      margin-left: 32%;
      margin-right: 5%;
  }
   }
   
   /******** tab *******/
  
   @media (max-width: 768px) {
    
    .imggg {
      margin-left: 15%;
    }
    
     nav {
       display: none;
    }
    .sss .social {
      margin-top: 3.5cm;
      margin-bottom: 1cm;
      margin-left: 28%;
      margin-right: 12%;
  }
    
    .sss .social a span {    height: 43px;
                             width: 43px;
                             background: #061f06d8;
                             line-height: 43px;
                             text-align: center;
                             font-size: 21px;
                             color: rgb(253, 253, 253);
                             border-radius: 30px;
                             transition: 1s;
                             margin: 7px;
                     }
       #mySidenav a {
                      display: block;
                    }
  }
    
   @media (max-width: 604px), (max-width: 600px), (max-width: 692px) {
     
    .sss .social {
      margin-left: 22%;
    }
  
   }
   @media (max-width: 548px) {
     .imggg {
       margin-left: 4%;
     }
    .sss .social {
      margin-left: 16%;
    }
  
   }
  
   @media (max-width: 505px) {
    .imggg {
      margin-left: 12%;
      margin-top: 1.5cm;
    }
   .sss .social {
     margin-left: 17%;
   }
   .sss .social a span {    
    height: 38px;
    width: 38px;
    line-height: 38px;
    font-size: 16px;
    color: rgb(253, 253, 253);
    margin: 7px;
  }
  }
  
   @media (max-width: 425px) {
     
    .sss .social {
      margin-left: 16%;
    }
    .sss .social a span {   
      height: 37px;
      width: 37px;
      line-height: 37px;
      font-size: 17px;
      margin: 4px;
      }
   
  }
    /**************** scl icn dsgn **********/
    .icons {
        margin-left: 33%;
        margin-top: 6cm;
    }
    .icons a{
        background: #082708d8;
        position: relative;
        height: 45px;
        width: 45px;
        margin: 0 10px;
        display: inline-flex;
        text-decoration: none;
        border-radius: 50%;
        transition: all 0.9s;
        box-shadow: -3px -3px 7px #e8f5ed,
                    3px 3px 5px #cfe5d0;
      }
      .icons a:hover:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        background: #d6dde2;
        box-shadow: inset -3px -3px 7px #ffffff,
                    inset 3px 3px 5px #ceced1;
      }
      .icons a i{
        position: relative;
        z-index: 3;
        text-align: center;
        width: 100%;
        height: 100%;
        font-size: 22px;
        line-height: 45px;
        color: #f9f9fa;
        transition: .5s;
      }
      .icons a:hover i{
        transform: scale(.97);
      }
      .icons a.fb i:hover{
        color: #4267B2;
      }
      .icons a.twitter i:hover{
        color: #1DA1F2;
      }
      .icons a.insta i:hover{
        color: #E1306C;
      }
      .icons a.tele i:hover{
        color: #1DA1F2;
      }
      .icons a.git i:hover{
        color: #333;
      }
      .icons a.yt i:hover{
        color: #ff0000;
      }
      .icons a.pin i:hover{
        color: #ff0000;
      }
      
  
    
    /*********** sd nav menu **********/
  
  
  #mySidenav a {
    position: absolute; 
    left: -87px; 
    transition: 0.5s; 
    padding: 10px; 
    width: 130px; 
    text-decoration: none;
    font-size: 20px; 
    color: white; 
    border-radius: 0 17px 17px 0;
    margin-top: 3.7cm;
  }
    
  #mySidenav a i {
    font-size: 21px;
  }
  
  #mySidenav a:hover {
    left: 0; 
    background: #234b13e1;
  }
  
  
  #about {
    top: 20px;
    background-color: #286d3cab;
  }
  
  #blog {
    top: 80px;
    background-color: #286d3cab;
  }
  
  #design {
    top: 140px;
    background-color: #286d3cab;
  }
  
  #tilwat {
    top: 200px;
    background-color: #286d3cab;
  }
  
  #contact {
    top: 260px;
    background-color: #286d3cab;
  }

  /***************************

 .wrapper {
     position: absolute;
     top: 63%;
     left: 50%;
     width: 90%;
     transform: translate(-50%, -50%);
 }

 .wrapper ul li {
     display: inline;
     text-align: center;
 }

 .wrapper ul li a {
     display: inline-block;
     text-decoration: none;
     width: 17%;
     padding: auto;
     margin: 22px 0;
     color: #1a522af1;
     font-weight: 600;
     font-size: 19px;
     cursor: pointer;
    }
 .wrapper hr {
     height: 55px;
     width: 17%;
     margin: -65px 0;
     background: linear-gradient(to right, #ffff00 0%, #ff3399 100%);
     border: none;
     border-radius: 50px;
     transition: .9s;
     cursor: pointer;

 }   

 .two:hover ~ hr {
    margin-left: 25%
}
****************************/

 