
* { padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}



body {background: url(image/aaron-burden-y02jEX_B0O0-unsplash.jpg), 
    linear-gradient( rgba(85, 24, 16, 0.829), rgba(3, 19, 88, 0.63), rgba(172, 132, 4, 0.548));
     
      background-size: cover;
      height: calc(222.6vh - 100px);
      font-family: 'Hind Siliguri', sans-serif;
      background-blend-mode: multiply;
    }


/* nav menu dsgn */

nav {height: 90px;
    width: 100%;
    background: rgba(3, 4, 31, 0.507);
    margin-bottom: 3cm;
}

nav ul {float: right;
    margin-right: 13px;
    margin-top: -87px;
}

nav li { display: inline-block;
     margin: 0 7px;
     line-height: 80px;
}

.imgc { width: 90px;
      margin-top: 1px;
      margin-left: 100px;
      cursor: pointer;
    }

nav .aaa { color: rgb(243, 235, 235);
    font-size: 17px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 8px 5px;
    border-radius: 3px;
    text-decoration: none !important;
    font-family: 'Hind Siliguri', sans-serif;
    transition: .5s;
}

#active  { border-bottom: .7px solid rgba(240, 217, 217, 0.822);
           border-top: .7px solid rgba(240, 217, 217, 0.822);
           transition: .9s;
}


.aaa:hover {
           border-bottom: 1px solid rgb(240, 233, 233);
           background-color: rgba(43, 26, 6, 0);
           color: aliceblue;
           border-spacing: 10px;
}
input[type=search]:hover {
  border: 1px solid rgb(240, 233, 233);
  background-color: rgba(131, 75, 10, 0.062);
  color: aliceblue;
  border-spacing: 10px;
}

/******.aaa:hover:before, input[type=search]:hover:before {
                                       border-color: rgb(255, 255, 255);
                                       height: 100%;
                                       transform: translateX(0);
                                       transition: .5s transform linear, .5s height linear .5s;
                                       
}

.aaa:hover:after, input[type=search]:hover:after {
  border-color: rgb(255, 255, 255);
  height: 100%;
  transform: translateX(0);
  transition: .5s transform linear, .5s height linear .7s;
  
} *************/



nav #icon { color: rgba(236, 218, 218, 0.808);
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 37px;
    margin-top: -2.3cm;
    cursor: pointer;
    display: none;
}

@media (max-width: 1048px) {
                    label.logo {font-size: 32px;
                                padding-left: 1px;
                                margin-left: 1.3cm;}
                    nav ul { margin-right: 20px; z-index: 1200;}
                    nav .aaa { font-size: 14px;}
                   }

@media (max-width: 909px) {
                  nav #icon { display: block; }
                 
                  nav ul { position: fixed;
                           width: 63%;
                           height: 103vh;
                           background: #222831ef;
                           top: 80px;
                           left: -100%;
                           text-align: center;
                           transition: all .5s;
                           z-index: 1200;
                            }

                 nav li { display: block;
                           margin: 45px 0;
                           line-height: 30px; }

                 nav .aaa { font-size: 17.9px;
                   color: #e0d5d5; }      
                 

                 #active  { border-bottom: .7px solid rgba(240, 217, 217, 0.822);
                  border-top: .7px solid rgba(240, 217, 217, 0.822);
                  transition: .9s;
       }
       
       
       .aaa:hover { 
                  border-bottom: 1px solid rgba(240, 233, 233, 0.911);
                  background-color: rgba(39, 24, 6, 0);
                  color: aliceblue;
                  border-spacing: 10px;
       }
                
                 nav ul.show { left: 0;}            

                          
                                                
                  }   


input[type=search] {
    width: 150px;
    height: 32px;
    padding: 5px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border : 1px solid rgb(48, 104, 177);
    border-top-color: rgb(134, 86, 167);
    border-left-color: rgb(74, 150, 93);
    border-radius: 5px ;
    background: rgba(1, 8, 10, 0.938);
    color: white;
    font-size: 12px;
    font-family: 'Hind Siliguri', sans-serif;
}

    
/**********************************
.image {background: url(sajid99.png) no-repeat;
         background-size: cover;
         width: 270px;
         height: 280px;
         margin-right: 50px;
         margin-top: 30px;
         padding: 37px;
         float: right;
         opacity: 0.3;
        }
*/

/* ****************************
 article dsgn*******************/
  
 .articleee { width: 100%;
           margin-bottom: .9cm;
           background-color: #5d709242;
           color: rgb(255, 248, 248);
           text-align: center;
           padding: 33px;
           border-radius: 30px 30px 15px 15px;
           
}


.articleee p, .articleee h2 { margin-top: 23px;

}

 .articleee:hover { background-color: rgba(255, 255, 255, 0.623);
                 color: rgb(9, 2, 20);
                 transition: .7s;
                 

 }
 

 /*****footer dsgn*********/

footer { color: rgb(249, 249, 250);
    bottom: 0px;
    width: 100%;
    background: rgba(1, 5, 27, 0.61);
    border-top: 1px solid rgba(245, 245, 245, 0.048);
    display: flexbox;
    padding: 15px;
   }


.right h2 {font-size: 22px;
     text-transform: uppercase;
     font-weight: 500;
     margin-left: 4cm;
     margin-top: 1cm;
}

.left h2 {font-size: 22px;
text-transform: uppercase;
font-weight: 579;
margin-left: 1.7cm;
margin-top: .3cm;
font-family: cursive;
}

.left .jinish { margin-left: 1.7cm;
          margin-top: .5cm;
}

.right .jinish { margin-left: 67px;

}

.right .jinish .social { margin-top: 25px;
        margin-bottom: 12px;
}                     

.right .jinish p { text-align: justify;
  font-family:  'Hind Siliguri', sans-serif;
  line-height: .8cm;

}

.right .jinish .social a { padding: 5px 3px 0 0;
}

.right .jinish .social a span { height: 40px;
                          width: 40px;
                         background: #10101dd8;
                         line-height: 40px;
                         text-align: center;
                         font-size: 20px;
                         color: rgb(253, 253, 253);
                         border-radius: 5px;
                         transition: .9s;
                         margin: 1px;
                 }

               

.right .jinish .social a span:hover { background: linear-gradient(rgba(168, 68, 10, 0.877), rgba(156, 27, 10, 0.836), rgba(95, 114, 8, 0.884));
                                background-blend-mode: multiply;

}

.left .textftr { font-size: 19px;
             font-family: cursive;
}

.left i { font-size: 17px;
     padding: 5px;
}


